/*CSS reset settings here*/
    *{
    margin: 0px;
    padding: 0px;
   }
   #wrapper{
    width: 950px;
    background-color: silver;
    margin: 20px auto;
    padding: 20px 20px 20px 20px;
   }
   #header{
    min-height: 150px;
    background-color: green;
    display: block;
    margin: 0px 0px 20px 0px;
   }
   #navigation{
    min-height: 300px;
    width: 200px;
    background-color: blue;
    display: inline-block;
    vertical-align: top;
   }
   #main_content{
    min-height: 400px;
    width: 716px;
    background-color: red;
    display: inline-block;
    padding: 10px;
    margin: 0px 0px 10px 10px;
   }
   .subcontents{
    min-height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
    margin: 10px 0px 10px 10px;
   }
   #advertisement{
    min-height: 120px;
    width: 660px;
    background-color: purple;
    display: block;
    margin: 10px;
   }
   